/* Genel Stil */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    color: #333;
}

header {
    background-color: #4CAF50;
    padding: 20px;
    color: white;
    text-align: center;
}

nav {
    display: flex;
    justify-content: center;
    background-color: #333;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

nav ul li {
    display: inline;
    margin: 10px;
}

nav ul li button {
    background-color: #4CAF50;
    color: white;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    font-size: 16px;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

nav ul li button:hover {
    background-color: #45a049;
}

.content-section {
    display: none;
    padding: 20px;
    margin: 20px;
    background-color: white;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
}

.content-section.hidden {
    display: none;
}

form {
    display: flex;
    flex-direction: column;
    margin-top: 10px;
}

form label, form input, form select, form button {
    margin: 10px 0;
}

form button {
    background-color: #4CAF50;
    color: white;
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

form button:hover {
    background-color: #45a049;
}

footer {
    text-align: center;
    padding: 10px;
    background-color: #333;
    color: white;
    position: fixed;
    width: 100%;
    bottom: 0;
}

footer p {
    font-size: 14px;
}

/* Responsive Design */
@media (max-width: 768px) {
    header h1 {
        font-size: 20px;
    }
    
    nav ul {
        flex-direction: column;
        align-items: center;
    }

    nav ul li {
        margin: 10px 0;
    }

    .content-section {
        margin: 10px;
        padding: 15px;
    }
}
